version: '3'

volumes:
  pg_data:
  static:
  media:

services:
  db:
    image: postgres:13
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data
  backend:
    build: ./backend/
    env_file: .env
    volumes:
      - static:/backend_static/
      - media:/app/media/
    depends_on:
      - db
  frontend:
    env_file: .env
    image: akkrn/foodgram_frontend
    command: cp -r --force /app/result_build/. /static/
    volumes:
      - static:/static/
    gateway:
      image: akkrn/foodgram_gateway
      env_file: .env
      ports:
        - 8888:80
      volumes:
        - static:/static/
        - media:/app/media/
        - ./docs/:/usr/share/nginx/html/api/docs/
      depends_on:
        - backend